*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'lato';   
}

header{
    width:100%;
    /* 3*16=48px */
    height: 3rem;
    /* Top Right Bottom Left */
    padding: 0.5rem 3rem 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Qwigley', cursive;
    font-size: 50px;
    color: #FF0000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
nav ul li {
    display: inline-block;
    
  }
  
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 0.5em;
  }
  
nav ul li a span.active{
    position: relative;
  }

nav ul li a span.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: red; 
  }

.header-icon, .Footer-icon{
    font-size: 18px;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

.menu{
    list-style: none;
    padding: 0;
  }
.menu li{
    display: inline-block;
    padding: 0.3em;
  }

#menu-icon{
  display: none;
}

.hero-container{
    background-image: url(../image/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    font-size: 30px;
    font-family: 'Merriweather';
    color: rgba(255, 255, 255, 0.904);
    line-height: 4rem;
    letter-spacing: 1.2px;
}

.hero-contant, .header-list-saarch{
  background-color: #ffffff;
  width: 30rem;
  height: 7vh;
  display: flex;
}

.search-input, .search-input-list{
    flex: 1;
    border: none;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1rem;
}

.search-button, .search-button-list{
  background-color: #FF0000;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}

.featured-container{
  margin-top: 10vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 3.7rem;
  
}

.featured-title, .categories-title{
  font-size: 23px;
  font-family: 'Merriweather';
  color: #000;
  line-height: 2rem;
  letter-spacing: 1.2px;
}

.featured-container-cards, .categories-container-cards{
  width: 100%;
  height: 53vh;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.categories-contener-scrol{
  height: 120vh;
}

.categories-container-cards{
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10vh;
}

.featured-contant-card, .categories-contant-card, .list-categories-contant-card{
 width: 17.13rem;
 border: 1px solid #000;
 border-radius: 10px;
 position: relative;
}

img{
  width: 17rem;
  height: 30vh;
}

.categories-contant-card{
  background-color: #ffffffc5;
  border: none;
}

.contant-card{
  text-align: center;
  padding: 0.5rem;
  line-height: 20px;
}

.contant-card h2{
  font-size: 13px;
  font-family: 'Merriweather';
}

.contant-card p{
  font-size: 11px;
}

.rateing{
  text-align: center;
  line-height: 40px;
}

.rate-review{
  font-size: 10px;
}

.favorite-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  z-index: 1;
}

#favorite-icon1{
 color: #FF0000;
}

.see-more-Btn{
  width: 100%;
  height: 8vh;
  padding: 1rem 0rem;
  display: flex;
  justify-content: flex-end;
}

.Btn{
  background-color: transparent;
  border: 1px solid #FF0000;
  color: #FF0000;
  padding: 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px; 
  width: 6rem;
  height: 6vh;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.Btn:hover{
  background-color: #FF0000;
  color: #ffffff;
}

.categories-container{
  margin-top: 10vh;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3.7rem;
  background-color: rgba(255, 246, 197, 0.5);
}

#nav-categories{
  margin-top: 5vh;
}

.Footer-Container{
  width: 100%;
  height: 17vh;
  background-color: #8B4513;
  display: flex;
  flex-direction: column;
  padding: 0 3.7rem;
}

.Footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-nav{
  color: #fff;
  font-size: 15px;
  padding: 1.5rem;
}

#logo-footer{
  font-size: 60px;
  color: #fff;
}

.hr{
  height: 1px;
  background-color: rgba(204, 204, 204, 0.822);
  border: none;
}

.copyright{
 font-size: 12px;
 text-align: center;
 color: #fff;
 margin-top: 5px;
}

/* Style List Page */
.header-list-icon{
  font-size: 18px;
  cursor: pointer;
}
.menu{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-list-saarch{
  background-color: #ffffff;
  width: 20rem;
  height: 5vh;
  display: flex;
  border: 1px solid #00000069;
  border-radius: 5px;
}

.list-search, .filter{
  display: none;
}

.search-input-list{
    flex: 1;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 10px;
    border-radius: 5px;
}

.search-button-list{
  background-color: #FF0000;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 10px;
  border-radius: 0px 5px 5px 0px;
}

.section-filter-Btn{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
  padding: 1rem 3.7rem;
  gap: 1rem;
}

.filter-btn{
  background-color: rgba(255, 246, 197, 0.5);
  color: #8B4513;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 10px; 
  height: 5vh;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.list-categories-container{
  margin-top: 5vh;
  height: 110vh;
  padding: 1rem 3.7rem;
  gap: 4rem;
  display: flex;
  flex-direction: row;
}

.hr-list{
  width: 10rem;
  margin-top: 0.5rem;
  height: 1px;
  background-color: #ff000081;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0.5rem;
}

ul li{
  padding: 0.2rem;
}

ul li label {
  display: inline-block;
  cursor: pointer;
}

ul li label .input-checkbox{
   margin-right: 0.5rem;
  accent-color: #ff0000;
}

.list-para{
  margin-bottom: 0.5rem;
  color: #FF0000;
}

.list-categories-container-cards{
  width: 100%;
  height: 92vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 5vh;
}

.list-categories-contant-card{
 width: 14rem;
}

#list-img{
  width: 13.85rem;
  height: 22vh;
}








  
  
  
  
  
  

